github "Alamofire/Alamofire"      	"4.4.0"
github "sleroux/Deferred"           "Swift3.0"
github "swisspol/GCDWebServer"		"3.3.2"			     
github "kif-framework/KIF"          "v3.5.1"
github "mozilla/readability"        "master"
github "rs/SDWebImage"              "3.7.4"           
github "SnapKit/SnapKit"            "3.1.2"
github "DaveWoodCom/XCGLogger"         "Version_4.0.0"
github "AgileBits/onepassword-extension" "new/carthage+ios10"
github "iziz/libPhoneNumber-iOS"    "0.9.6"
github "jrendel/SwiftKeychainWrapper" "3.0.1"
github "cruffenach/CRToast"		"0.0.9"
github "SVProgressHUD/SVProgressHUD"	"2.1.2"
github "drmohundro/SWXMLHash"       "3.0.4"
github "SwiftyJSON/SwiftyJSON"              "3.1.4"
