github "Alamofire/Alamofire"      	"3.5.0"
github "sleroux/Deferred"           "Swift2.3"
github "swisspol/GCDWebServer"		"3.3.2"			     
github "kif-framework/KIF"          "v3.5.1"
github "mozilla/readability"        "master"
github "rs/SDWebImage"              "3.7.4"           
github "SnapKit/SnapKit"            "0.22.0"
github "drmohundro/SWXMLHash"       "2.5.1"
github "thebnich/XCGLogger"         "trycatch"
github "adjust/ios_sdk"             "v4.5.0"
github "AgileBits/onepassword-extension" "add-framework-support"
github "iziz/libPhoneNumber-iOS"    "0.8.11"
github "jrendel/SwiftKeychainWrapper" "Swift2.3"
github "cruffenach/CRToast"		"0.0.9"
github "SVProgressHUD/SVProgressHUD"	"2.0.4"
github "mahmoud-cliqz/jsengine" "727a0578476b17e2fe2b405f9c5bb37fe93aa3d3"