# repository admins
* @mahmoud-cliqz @naira-cliqz

# Conversational UI
Client/Cliqz/Frontend/Browser/Conversational History/* @timotei-cliqz

# CI
Jenkinsfile @sharath-cliqz @joseph-cliqz @chrmod

# JSEngine
Client/Cliqz/Foundation/JSEngine/* @sammacbeth
